;; -*- mode: emacs-lisp; coding: emacs-mule; -*-
;; --------------------------------------------------------------------------
;; Desktop File for Emacs
;; --------------------------------------------------------------------------
;; Created Thu Feb  4 21:07:56 2016
;; Desktop file format version 206
;; Emacs version 24.5.1

;; Global section:
(setq desktop-saved-frameset nil)
(setq desktop-missing-file-warning nil)
(setq tags-file-name nil)
(setq tags-table-list '("/home/ryans/repositories/github/cpp-game-engine/TAGS"))
(setq search-ring '("sincos"))
(setq regexp-search-ring nil)
(setq register-alist nil)
(setq file-name-history '("~/.emacs" "~/repositories/github/cpp-game-engine/src/lua/**/**" "~/.emacs" "~/repositories/github/cpp-game-engine/linux.tup" "~/repositories/github/cpp-game-engine/macosx.tup" "~/repositories/github/cpp-game-engine/Tuprules.tup" "~/repositories/github/cpp-game-engine/Tupfile" "~/repositories/github/cpp-game-engine/build-g++/.gitignore" "~/repositories/github/cpp-game-engine/.git" "~/repositories/github/cpp-game-engine/build-em++/tup.config" "~/repositories/github/cpp-game-engine/build-g++" "~/repositories/github/cpp-game-engine/src/" "~/repositories/github/cpp-game-engine/src/**/**" "~/repositories/github/cpp-game-engine/src/test.cpp" "~/repositories/github/cpp-game-engine/**/**.cpp" "~/repositories/github/cpp-game-engine/*/*.cpp" "~/**/**.c" "/home/ryans/repositories/github/cpp-game-engine"))

;; Buffer section -- buffers listed in same order as in buffer list:
(desktop-create-buffer 206
  "/home/ryans/repositories/github/cpp-game-engine/src/test.cpp"
  "test.cpp"
  'c++-mode
  '(abbrev-mode company-mode irony-mode)
  141
  '(541 nil)
  nil
  nil
  '((buffer-file-coding-system . utf-8-unix)))

(desktop-create-buffer 206
  "/home/ryans/repositories/github/cpp-game-engine/src/lua/src/lapi.c"
  "lapi.c"
  'c-mode
  '(abbrev-mode company-mode irony-mode auto-complete-mode)
  162
  '(162 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/ryans/repositories/github/cpp-game-engine/src/lua/src/lapi.h"
  "lapi.h"
  'c-mode
  '(abbrev-mode company-mode irony-mode auto-complete-mode)
  131
  '(131 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/ryans/repositories/github/cpp-game-engine/src/lua/src/Makefile"
  "Makefile"
  'makefile-gmake-mode
  '(company-mode)
  1
  '(nil nil)
  nil
  nil
  '((indent-tabs-mode . t) (buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/ryans/repositories/github/cpp-game-engine/src/lua/src/lauxlib.c"
  "lauxlib.c"
  'c-mode
  '(abbrev-mode company-mode irony-mode auto-complete-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/ryans/repositories/github/cpp-game-engine/src/lua/src/lauxlib.h"
  "lauxlib.h"
  'c-mode
  '(abbrev-mode company-mode irony-mode auto-complete-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/ryans/repositories/github/cpp-game-engine/src/lua/src/lbaselib.c"
  "lbaselib.c"
  'c-mode
  '(abbrev-mode company-mode irony-mode auto-complete-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/ryans/repositories/github/cpp-game-engine/src/lua/src/lbitlib.c"
  "lbitlib.c"
  'c-mode
  '(abbrev-mode company-mode irony-mode auto-complete-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/ryans/repositories/github/cpp-game-engine/src/lua/src/lcode.c"
  "lcode.c"
  'c-mode
  '(abbrev-mode company-mode irony-mode auto-complete-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/ryans/repositories/github/cpp-game-engine/src/lua/src/lcode.h"
  "lcode.h"
  'c-mode
  '(abbrev-mode company-mode irony-mode auto-complete-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/ryans/repositories/github/cpp-game-engine/src/lua/src/lcorolib.c"
  "lcorolib.c"
  'c-mode
  '(abbrev-mode company-mode irony-mode auto-complete-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/ryans/repositories/github/cpp-game-engine/src/lua/src/lctype.c"
  "lctype.c"
  'c-mode
  '(abbrev-mode company-mode irony-mode auto-complete-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/ryans/repositories/github/cpp-game-engine/src/lua/src/lctype.h"
  "lctype.h"
  'c-mode
  '(abbrev-mode company-mode irony-mode auto-complete-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/ryans/repositories/github/cpp-game-engine/src/lua/src/ldblib.c"
  "ldblib.c"
  'c-mode
  '(abbrev-mode company-mode irony-mode auto-complete-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/ryans/repositories/github/cpp-game-engine/src/lua/src/ldebug.c"
  "ldebug.c"
  'c-mode
  '(abbrev-mode company-mode irony-mode auto-complete-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/ryans/repositories/github/cpp-game-engine/src/lua/src/ldebug.h"
  "ldebug.h"
  'c-mode
  '(abbrev-mode company-mode irony-mode auto-complete-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/ryans/repositories/github/cpp-game-engine/src/lua/src/ldo.c"
  "ldo.c"
  'c-mode
  '(abbrev-mode company-mode irony-mode auto-complete-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/ryans/repositories/github/cpp-game-engine/src/lua/src/ldo.h"
  "ldo.h"
  'c-mode
  '(abbrev-mode company-mode irony-mode auto-complete-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/ryans/repositories/github/cpp-game-engine/src/lua/src/ldump.c"
  "ldump.c"
  'c-mode
  '(abbrev-mode company-mode irony-mode auto-complete-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/ryans/repositories/github/cpp-game-engine/src/lua/src/lfunc.c"
  "lfunc.c"
  'c-mode
  '(abbrev-mode company-mode irony-mode auto-complete-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/ryans/repositories/github/cpp-game-engine/src/lua/src/lfunc.h"
  "lfunc.h"
  'c-mode
  '(abbrev-mode company-mode irony-mode auto-complete-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/ryans/repositories/github/cpp-game-engine/src/lua/src/lgc.c"
  "lgc.c"
  'c-mode
  '(abbrev-mode company-mode irony-mode auto-complete-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/ryans/repositories/github/cpp-game-engine/src/lua/src/lgc.h"
  "lgc.h"
  'c-mode
  '(abbrev-mode company-mode irony-mode auto-complete-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/ryans/repositories/github/cpp-game-engine/src/lua/src/linit.c"
  "linit.c"
  'c-mode
  '(abbrev-mode company-mode irony-mode auto-complete-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/ryans/repositories/github/cpp-game-engine/src/lua/src/liolib.c"
  "liolib.c"
  'c-mode
  '(abbrev-mode company-mode irony-mode auto-complete-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/ryans/repositories/github/cpp-game-engine/src/lua/src/llex.c"
  "llex.c"
  'c-mode
  '(abbrev-mode company-mode irony-mode auto-complete-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/ryans/repositories/github/cpp-game-engine/src/lua/src/llex.h"
  "llex.h"
  'c-mode
  '(abbrev-mode company-mode irony-mode auto-complete-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/ryans/repositories/github/cpp-game-engine/src/lua/src/llimits.h"
  "llimits.h"
  'c-mode
  '(abbrev-mode company-mode irony-mode auto-complete-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/ryans/repositories/github/cpp-game-engine/src/lua/src/lmathlib.c"
  "lmathlib.c"
  'c-mode
  '(abbrev-mode company-mode irony-mode auto-complete-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/ryans/repositories/github/cpp-game-engine/src/lua/src/lmem.c"
  "lmem.c"
  'c-mode
  '(abbrev-mode company-mode irony-mode auto-complete-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/ryans/repositories/github/cpp-game-engine/src/lua/src/lmem.h"
  "lmem.h"
  'c-mode
  '(abbrev-mode company-mode irony-mode auto-complete-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/ryans/repositories/github/cpp-game-engine/src/lua/src/loadlib.c"
  "loadlib.c"
  'c-mode
  '(abbrev-mode company-mode irony-mode auto-complete-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/ryans/repositories/github/cpp-game-engine/src/lua/src/lobject.c"
  "lobject.c"
  'c-mode
  '(abbrev-mode company-mode irony-mode auto-complete-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/ryans/repositories/github/cpp-game-engine/src/lua/src/lobject.h"
  "lobject.h"
  'c-mode
  '(abbrev-mode company-mode irony-mode auto-complete-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/ryans/repositories/github/cpp-game-engine/src/lua/src/lopcodes.c"
  "lopcodes.c"
  'c-mode
  '(abbrev-mode company-mode irony-mode auto-complete-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/ryans/repositories/github/cpp-game-engine/src/lua/src/lopcodes.h"
  "lopcodes.h"
  'c-mode
  '(abbrev-mode company-mode irony-mode auto-complete-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/ryans/repositories/github/cpp-game-engine/src/lua/src/loslib.c"
  "loslib.c"
  'c-mode
  '(abbrev-mode company-mode irony-mode auto-complete-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/ryans/repositories/github/cpp-game-engine/src/lua/src/lparser.c"
  "lparser.c"
  'c-mode
  '(abbrev-mode company-mode irony-mode auto-complete-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/ryans/repositories/github/cpp-game-engine/src/lua/src/lparser.h"
  "lparser.h"
  'c-mode
  '(abbrev-mode company-mode irony-mode auto-complete-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/ryans/repositories/github/cpp-game-engine/src/lua/src/lprefix.h"
  "lprefix.h"
  'c-mode
  '(abbrev-mode company-mode irony-mode auto-complete-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/ryans/repositories/github/cpp-game-engine/src/lua/src/lstate.c"
  "lstate.c"
  'c-mode
  '(abbrev-mode company-mode irony-mode auto-complete-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/ryans/repositories/github/cpp-game-engine/src/lua/src/lstate.h"
  "lstate.h"
  'c-mode
  '(abbrev-mode company-mode irony-mode auto-complete-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/ryans/repositories/github/cpp-game-engine/src/lua/src/lstring.c"
  "lstring.c"
  'c-mode
  '(abbrev-mode company-mode irony-mode auto-complete-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/ryans/repositories/github/cpp-game-engine/src/lua/src/lstring.h"
  "lstring.h"
  'c-mode
  '(abbrev-mode company-mode irony-mode auto-complete-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/ryans/repositories/github/cpp-game-engine/src/lua/src/lstrlib.c"
  "lstrlib.c"
  'c-mode
  '(abbrev-mode company-mode irony-mode auto-complete-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/ryans/repositories/github/cpp-game-engine/src/lua/src/ltable.c"
  "ltable.c"
  'c-mode
  '(abbrev-mode company-mode irony-mode auto-complete-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/ryans/repositories/github/cpp-game-engine/src/lua/src/ltable.h"
  "ltable.h"
  'c-mode
  '(abbrev-mode company-mode irony-mode auto-complete-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/ryans/repositories/github/cpp-game-engine/src/lua/src/ltablib.c"
  "ltablib.c"
  'c-mode
  '(abbrev-mode company-mode irony-mode auto-complete-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/ryans/repositories/github/cpp-game-engine/src/lua/src/ltm.c"
  "ltm.c"
  'c-mode
  '(abbrev-mode company-mode irony-mode auto-complete-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/ryans/repositories/github/cpp-game-engine/src/lua/src/ltm.h"
  "ltm.h"
  'c-mode
  '(abbrev-mode company-mode irony-mode auto-complete-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/ryans/repositories/github/cpp-game-engine/src/lua/src/lua.c"
  "lua.c"
  'c-mode
  '(abbrev-mode company-mode irony-mode auto-complete-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/ryans/repositories/github/cpp-game-engine/src/lua/src/lua.h"
  "lua.h"
  'c-mode
  '(abbrev-mode company-mode irony-mode auto-complete-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/ryans/repositories/github/cpp-game-engine/src/lua/src/lua.hpp"
  "lua.hpp"
  'c++-mode
  '(abbrev-mode company-mode irony-mode auto-complete-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/ryans/repositories/github/cpp-game-engine/src/lua/src/luac.c"
  "luac.c"
  'c-mode
  '(abbrev-mode company-mode irony-mode auto-complete-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/ryans/repositories/github/cpp-game-engine/src/lua/src/luaconf.h"
  "luaconf.h"
  'c-mode
  '(abbrev-mode company-mode irony-mode auto-complete-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/ryans/repositories/github/cpp-game-engine/src/lua/src/lualib.h"
  "lualib.h"
  'c-mode
  '(abbrev-mode company-mode irony-mode auto-complete-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/ryans/repositories/github/cpp-game-engine/src/lua/src/lundump.c"
  "lundump.c"
  'c-mode
  '(abbrev-mode company-mode irony-mode auto-complete-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/ryans/repositories/github/cpp-game-engine/src/lua/src/lundump.h"
  "lundump.h"
  'c-mode
  '(abbrev-mode company-mode irony-mode auto-complete-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/ryans/repositories/github/cpp-game-engine/src/lua/src/lutf8lib.c"
  "lutf8lib.c"
  'c-mode
  '(abbrev-mode company-mode irony-mode auto-complete-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/ryans/repositories/github/cpp-game-engine/src/lua/src/lvm.c"
  "lvm.c"
  'c-mode
  '(abbrev-mode company-mode irony-mode auto-complete-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/ryans/repositories/github/cpp-game-engine/src/lua/src/lvm.h"
  "lvm.h"
  'c-mode
  '(abbrev-mode company-mode irony-mode auto-complete-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/ryans/repositories/github/cpp-game-engine/src/lua/src/lzio.c"
  "lzio.c"
  'c-mode
  '(abbrev-mode company-mode irony-mode auto-complete-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/ryans/repositories/github/cpp-game-engine/src/lua/src/lzio.h"
  "lzio.h"
  'c-mode
  '(abbrev-mode company-mode irony-mode auto-complete-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/ryans/repositories/github/cpp-game-engine/linux.tup"
  "linux.tup"
  'fundamental-mode
  '(company-mode)
  8
  '(1 nil)
  nil
  nil
  '((buffer-file-coding-system . utf-8-unix)))

(desktop-create-buffer 206
  "/home/ryans/repositories/github/cpp-game-engine/Tuprules.tup"
  "Tuprules.tup"
  'fundamental-mode
  '(company-mode)
  277
  '(37 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/ryans/repositories/github/cpp-game-engine/macosx.tup"
  "macosx.tup"
  'fundamental-mode
  '(company-mode)
  1
  '(43 nil)
  nil
  nil
  '((buffer-file-coding-system . utf-8-unix)))

(desktop-create-buffer 206
  "/home/ryans/repositories/github/cpp-game-engine/build-g++/tup.config"
  "tup.config"
  'conf-unix-mode
  '(company-mode)
  51
  '(50 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/ryans/repositories/github/cpp-game-engine/Tupfile"
  "Tupfile"
  'fundamental-mode
  '(company-mode)
  66
  '(66 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/ryans/repositories/github/cpp-game-engine/src/duktape/Tupfile"
  "Tupfile"
  'fundamental-mode
  '(company-mode)
  47
  '(47 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/ryans/repositories/github/cpp-game-engine/build-g++/.gitignore"
  ".gitignore"
  'fundamental-mode
  '(company-mode)
  121
  '(121 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/ryans/repositories/github/cpp-game-engine/build-em++/tup.config"
  "tup.config"
  'conf-unix-mode
  '(company-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/ryans/repositories/github/cpp-game-engine/src/duktape/LICENSE.txt"
  "LICENSE.txt"
  'text-mode
  '(company-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/ryans/repositories/github/cpp-game-engine/src/duktape/duk_config.h"
  "duk_config.h"
  'c-mode
  '(abbrev-mode company-mode irony-mode auto-complete-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/ryans/repositories/github/cpp-game-engine/src/duktape/duktape.c"
  "duktape.c"
  'c-mode
  '(abbrev-mode company-mode irony-mode auto-complete-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/ryans/repositories/github/cpp-game-engine/src/duktape/duktape.h"
  "duktape.h"
  'c-mode
  '(abbrev-mode company-mode irony-mode auto-complete-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

